<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MSI Add Area</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <!-- header -->
    <div class="page-header row" style="justify-content: space-between; margin: 10px; margin-top: 20px;">
      <h3>Admin: Add Area</h3>
      <p><%= user %></p>
      <a href="/logout"><button>Logout</button></a>
    </div>
    <!-- -->
    <form method="POST" action="/subscription/add_area">
      <div class="form-group">
        <select id="Channel" class="form-control" name="channelID" required>
          <option>Channel</option>
          <% for(var i=0; i<icube.length; i++) {%>
            <option value="<%= icube[i]._id %>"><%= icube[i].name %></option>
          <% } %>
        </select>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Area Name" required>
      </div>
      <div class="form-group">
        <textarea class="form-control" name="desc" placeholder="Area Description" required></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add Area</button>
      </div>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script>
         

  </script>
</body>
</html>
